<!DOCTYPE html>
<html ng-app="assign9">
    <head>
        <meta charset="utf-8">

        <!--
          File: GUI_1_Assignment_9.html
          91.461 GUI Programming 1, Assignment 9: Using AngularJS
          David Lordan, UMass Lowell Computer Science, david_lordan@student.uml.edu
          Alternate email: davidlordan@gmail.com
          Created on Dec 6th, 2014 11:16 AM, updated on Dec 10th, 2014 9:15 PM

          The purpose of this assignment is to demonstrate the use of AngularJS.
          Data is to be read from a JSON file via Ajax and dispalyed to the user.
          The user can then manipulate the data in some way.
        
          For this assignment I created a setlist/playlist maker. A list of Led Zeppelin
          songs taken from a JSON file are shown. The user may then use check-boxes to
          select songs which are to be added to a 2nd list. The ordering of the 2nd list
          may be manipulated by either clicking on a pair of songs which can be swapped,
          or by using a radio button to select a song that may be moved with up and down
          buttons. A running total of the length is shown at the bottom of the list.
          All of the listed information as well as the total length are filtered using
          AngularJS. The ng-class attribute is also used to add and remove classes
          which allow color coding of various states, such as showing which songs are 
          active.
        
        
          The majority of this code is based on the examples provided by Curran Kelleher
          which can be found at the following URL: 
          http://curran.github.io/screencasts/introToAngular/exampleViewer/#/
        
          Other parts of the code were taken from the sample code provided by 
          Prof. Jesse Heines for his GUI Programming 1 course at UMass Lowell.
        
          Song information for the JSON file was found on wikipedia:
          http://en.wikipedia.org/wiki/List_of_songs_recorded_by_Led_Zeppelin
        
          
        
          The page is also stylized using CSS, demonstrating skills that have been
          learned throughout the course. 
        
        -->


        <title>GUI 1 Assignment 9</title>

        <!-- Link to load the AngularJS framework.-->
        <script src=https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js></script>

        <!-- External Javascript file containing custom functions and the AngularJS 
             model and controller that allow the page to function.-->
        <script src="JS/assign9script.js"></script>

        <!-- Link to CSS file used to stylize the page.-->
        <link href="CSS/assign9styleV2.css" rel="stylesheet" type="text/css"> 

    </head>


    <!-- Directive which says this page will use the assign9Ctrl ng-controller. -->
    <body ng-controller="assign9Ctrl">

        <!-- Container for an introduction and instructions to the user.-->
        <div class="Intro">
            <h1>Setlist / Playlist Maker</h1>
            <p> 
                In this demo you will see a list of various Led Zeppelin songs.
                Select songs using the check-boxes to add or remove them from the setlist.
                Click on a column header to sort the song list by that property. 
                The album names, years of release, and song lengths may each be hidden
                by using the checkboxes below. 
            </p>

            <!-- These check-boxes allow particular columns in the song list to be hidden.-->
            <div id="checks">
                <div><input type="checkbox" ng-model="hideAlbums" checked/>Hide Albums</div>
                <div><input type="checkbox" ng-model="hideYears" checked/>Hide Years</div>
                <div><input type="checkbox" ng-model="hideLengths" checked/>Hide Lengths (song list only)</div>
            </div>
            <p>
                Within the set-list, radio-buttons can be used to set the active song to move.
                Using the up and down arrows the active song may be moved to any position.
                Clicking on a song name in the set-list will select it for swapping. Only
                two songs may be selected at a time for swapping.
            </p>
            <p>Enjoy!</p>


        </div><!-- End 'Intro' div.-->


        <!-- Table which will store the entire song list.-->
        <table id="songTable">
            <tr>
                <!-- Table headers which can be clicked by the user to sort their contents.-->
                <!-- Most of these also contain ng-class attributes that allow the columns to be hidden.-->
                <th><a href="" ng-click="sortField = 'name';
                            reverse = !reverse">SONG</a></th>

                <th ng-class="{hide: hideAlbums}"><a href="" ng-click="sortField = 'Album';
                            reverse = !reverse">ALBUM</a></th>

                <th class="year" ng-class="{hide: hideYears}"><a href="" ng-click="sortField = 'Year';
                            reverse = !reverse">YEAR</a></th>

                <th class="length" ng-class="{hide: hideLengths}"><a href="" ng-click="sortField = 'Length';
                            reverse = !reverse">LENGTH</a></th>

                <th class="selection">Selection</th>
            </tr>

            <!-- List of songs and their respective properties. Created using the ng-repeat directive.
                 These also make use of the ng-class attribute allowing the columns to be hidden.
                 Each row of the table way be referenced with the 'i' variable. -->
            <tr ng-repeat="i in songList| filter:query | orderBy:sortField:!reverse">
                <td class="song">{{i.name}}</td>
                <td class="album" ng-class="{hide: hideAlbums}">{{i.Album}}</td>
                <td class="year" ng-class="{hide: hideYears}">{{i.Year}}</td>
                <td class="length" ng-class="{hide: hideLengths}">{{i.Length|lengthFilter}}</td>

                <!-- Check-boxes which can be used to add or remove songs from the playlist. 
                     Calls the 'change()' function.-->
                <td class="selection" ><input type="checkbox" ng-model="addSong" ng-change="change(i, addSong)"/></td>

            </tr>
        </table>


        <!-- Table which contains the playlist. The table is hidden if no songs have been added.-->
        <div id="setlist" ng-class="{hideSet:nextPos === 0}">
            <table>

                <!-- Table headers for the playlist songs names and lengths.-->
                <tr>
                    <th class="radioButtons">Ctrl</th>
                    <th class="posIndicator lengthHeader">POS.</th>
                    <th>SONG</th>
                    <th class="lengthHeader">LENGTH</th>
                </tr>

                <!-- List of songs in the playlist and their lengths. Created using 
                     the ng-repeat directive. Each row of the table way be referenced 
                     with the 'i' variable. -->
                <tr ng-repeat="i in myList| filter:query | orderBy:'pos'" >

                    <!-- Radio buttons which are used to select the song which is to be
                         manipulated by the up and down buttons. Calls the 'updateActive' function. -->
                    <td><input type="radio" name="selection" ng-click="updateActive(i)"></td>

                    <td class="position posIndicator">{{i.pos}}</td>


                    <!-- The list of song names. Makes use of the ng-class attribute to add
                         remove classes which allow the colors of selected songs to be changed.
                         When the song names are clicked the 'setSwapClass' function is called.-->
                    <td class="songRow" ng-class="{ active: swapClass, move: i === moveActive, both: i === moveActive && swapClass }">
                        <a href="" ng-click="swapClass = setSwapClass(swapClass, i)">{{i.name}}</a>
                    </td>


                    <!-- The song lengths are displayed using a custom filter which 
                         is described in the documentation in the 'assign9script.js' file.-->
                    <td class="length setLength">{{i.Length|lengthFilter}}</td>
                </tr>

            </table><!-- End of play list table.-->


            <!-- Div used to contain the up and down arrows, swap button and total length.-->
            <div id="interaction">

                <!-- The total list length is displayed using a custom filter which 
                     is described in the documentation in the 'assign9script.js' file.-->
                <div id="total">Total: {{totalTime|timeFilter}}</div>

                <!-- Div which allows specific styling of the buttons.-->
                <div id="buttonWrapper">

                    <!-- Up and down arrows which allow the active song's position to be shifted. -->
                    <span id="controls">
                        <input type="image" src="Resources/upArrow.png" alt="UP" ng-click="moveUp()"/>
                        <input type="image" src="Resources/downArrow.png" alt="DOWN" ng-click="moveDown()"/>
                    </span>

                    <!-- Button which allow the "swap-selected" songs' places to be traded.-->
                    <button id="swap" type="button" ng-click="swap()">Swap</button>

                </div><!-- End buttonWrapper div-->

                <div id="audCtrl">
                    <audio controls ng-src="{{audioActive|audioFilter}}" type="audio/mp3"></audio> 
                </div>




                <!-- Div used to store and display error messages to the user.-->
                <div id="error">{{error}}</div>

            </div><!-- End interaction div-->

        </div><!-- End setlist div.-->

    </body>

</html>
